@model ContractManagementSystem.Models.RoleDetailsViewModel

<h2>Role Details</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Role Name
        </dt>
        <dd class="col-sm-10">
            @Model.RoleName
        </dd>
        <dt class="col-sm-2">
            Privileges
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var privilege in Model.Privileges)
                {
                    <li>@privilege.Name</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
