@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_LoginLayout1.cshtml";
}
}

<h1 class="text-center"><b>@ViewData["Title"]</b></h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
