@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_LoginLayout1.cshtml";
}
}

<h1 style="color:black;" class="text-center"><b>@ViewData["Title"]</b></h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
