@model ContractManagementSystem.ViewModels.ForgotPasswordConfirmationVm
@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<head>
    <style>
        body {
            margin: 50px;
            background-color: #f7f4eb;
        }

        p {
            font-weight: bold;
            font-size: 16px;
        }

        h2 {
            color: firebrick;
        }
    </style>
</head>

<h2 text-center><b>Forgot Password Confirmation</b></h2>
<p>@Model.Message</p>