@using ContractManagementSystem.ViewModels
@model ResetPasswordVm
@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
        .float-start {
            font-weight: bold;
            color: firebrick;
        }

        body {
            padding: 0px;
            background-image: url('../Project Images/update.jpeg');
            background-size: cover;
        }

        .btn-primary {
            background-color: firebrick;
        }

            .btn-primary:hover {
                background-color: maroon;
            }

            .btn-primary:active {
                background-color: aquamarine;
            }

        .card-container {
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            max-width: 1400px;
            max-height: 1600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f7f4eb;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin-bottom: 20px;
            justify-content: center;
            position: relative;
            left: 0;
            right: 0;
            height: 80%;
            width: 80%;
        }


            .card-container:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        .card-title {
            color: firebrick;
            text-align: center;
        }

        @@media screen and (max-width: 600px) {
            body {
                padding: 50px; /* Adjust padding for smaller screens */
                margin: 0;
                padding: 0;
            }

            .card-container {
                padding: 10px; /* Adjust padding for smaller screens */
                max-width: 100%; /* Make the card full width on smaller screens */
            }
        }

        @@media screen and (min-width: 1200px) {
            body {
                padding: 80px; /* Adjust padding for larger screens */
            }

            .card-container {
                padding: 50px; /* Adjust padding for larger screens */
                max-width: 1400px; /* Adjust max-width for larger screens */
                max-height: 1600px;
            }
        }

        label {
            font-weight: bold;
        }

    </style>
</head>


<div class="row">
    <div class="card-container">
    
    <div class="col-md-6">

        <h1 class=" card-title text-center"><b>Reset Password</b></h1>

        <div class="card-body">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
            </div>
        </div>
    </div>
</div>
