@model ContractManagementSystem.ViewModels.ResetPasswordConfirmationVm
@{
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
<head>
    <style>
        body {
            margin: 50px;
            background-color: #f7f4eb;
        }

        p {
            font-weight: bold;
            font-size: 20px;
        }

        h2 {
            color: firebrick;
        }
    </style>
</head>

<h2 text-center><b>Reset Password Confirmation</b></h2>
<p>@Model.Message<br />Please @Html.ActionLink("click here to log in", "Login", "Account")</p>
